body{
margin: 10px;
padding: 10px;
background-image: url(Blank.jpg);
}

h1{
text-align:center;
color: #FF7F00;
padding-bottom: 20px;
margin-bottom: 6px;
border-bottom: 2px solid #FF7F00;
padding-left: 60px;
padding-right: 60px;
font-family: "Arial Black";
font-size: 50px;
}

h2{
color: #4d4d4d;
padding-top: 10px;
padding-left: 100px;
padding-right: 60px;
font-family: "Arial Black";
font-size: 20px;
}

p{
color: #4d4d4d;
padding-left: 60px;
padding-right: 60px;
font-family: "Arial";
font-size: 18px;
line-height: 1.5;
}

ul{
padding-left: 80px;
padding-right: 60px;
color: #4d4d4d;
}

table{
width: 100%;
table-layout: fixed;
border: 0;
cellspacing: 0;
cellpadding: 0;
color: #4d4d4d;
font-family: "Arial";
font-size: 18px;
line-height: 1.5;
}

tr{
text-align:center;
}

li{
font-family: "Arial";
font-size: 18px;
line-height: 1.5;
}

button{
background-color: #FF7F00;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
-webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

button:hover {
  box-shadow: 0 0 40px 40px #8f6bb3 inset;
}

.referal{
color: #FF7F00;
font-family: "Arial";
font-weight: bold;
font-size: 18px;
}

.go-back{
display: block;
text-align: center;
color: #8f6bb3;
font-family: "Arial";
font-weight: bold;
font-size: 14px;
}

.align-center{
display: block;
text-align: center;
}